<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block nav %}
    <ul id="nav">
        <li>{% block nav-home %}<a href="">Home</a>{% endblock %}</li>
        <li>{% block nav-about %}<a href="{% url 'about' %}">About</a>{% endblock %}</li>
    </ul>
    {% endblock %}
    <h1>Welcome to Snacks Website</h1>
</body>
</html>